/Ex5_SalaDeAula/nbproject/private/
/ExerciociosFaculdade/Ex5_SalaDeAula/build/
/Ex6_AnimalSom/nbproject/private/
/Ex6_AnimalSom/build/
/Ex7_ContaCorrentePoupança/nbproject/private/
/Ex7_ContaCorrentePoupança/build/
/Ex8_FiguraGeometrica/nbproject/private/
/Ex8_FiguraGeometrica/build/
/Ex1_ImprimirLimpar/nbproject/private/
/Ex1_ImprimirLimpar/build/
/Ex2_ContadorCliques/nbproject/private/
/Ex2_ContadorCliques/build/
/InterfaceDoo/Ex3_CadastroClientes/nbproject/private/
/InterfaceDoo/GerenciadorSupermercado/nbproject/private/
/InterfaceDoo/GerenciadorSupermercado/build/
/InterfaceDoo/quick sort/nbproject/private/
/InterfaceDoo/quick sort/build/
/InterfaceDoo/ex1DooPessoa/nbproject/private/
/InterfaceDoo/ex1DooPessoa/build/
/InterfaceDoo/ex2DooConta/nbproject/private/
/InterfaceDoo/Ex3_CalculadoraMaldita/nbproject/private/
/InterfaceDoo/Ex3_CalculadoraMaldita/dist/
/InterfaceDoo/CadastroClientes/nbproject/private/
/InterfaceDoo/CadastroClientes/build/
/InterfaceDoo/CadastroClientes/dist/
/InterfaceDoo/JavaApplication18/nbproject/private/
/InterfaceDoo/Conta/nbproject/private/
/InterfaceDoo/Super1/nbproject/private/
/InterfaceDoo/Super1/build/