/Ex5_SalaDeAula/nbproject/private/
/ExerciociosFaculdade/Ex5_SalaDeAula/build/
/Ex6_AnimalSom/nbproject/private/
/Ex6_AnimalSom/build/
/Ex7_ContaCorrentePoupança/nbproject/private/
/Ex7_ContaCorrentePoupança/build/
/Ex8_FiguraGeometrica/nbproject/private/
/Ex8_FiguraGeometrica/build/
/Ex1_ImprimirLimpar/nbproject/private/
/Ex1_ImprimirLimpar/build/
/Ex2_ContadorCliques/nbproject/private/
/Ex2_ContadorCliques/build/
/InterfaceDoo/Ex3_CadastroClientes/nbproject/private/